
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />

    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1 class="h1"> Welcome </h1>
    <input type="button" value="Click Me" class="btn btn-danger"
    <p> This is the Home Page</p>
    <img src="~/images/IMG-20190918-WA0019.jpg" class="logo" alt="logo" />
    <img src="~/MyStaticFiles/YOMA tech - linkedin Banner - 2.jpg"  alt="dummy"/>
</body>
</html>

<script>
    $(document).ready(function () {
        alert('Page Loaded');
    });
</script>
