
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
    
</head>
<body>
    <h1> Welcome </h1>
    <p> This is the Home Page</p>
    <img src="~/images/IMG-20190918-WA0019.jpg" class="logo" alt="logo" />
    <img src="~/MyStaticFiles/YOMA tech - linkedin Banner - 2.jpg"  alt="dummy"/>
</body>
</html>
